:root {
  --secondary-text-color: #757575;
  --hero-text: #ffffff;
  --main-text: #212121;
  --accent: #2196f3;
  --footer-address-text: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --team-background: #f5f4fa;
  --icon-colour: #afb1b8;
}

body {
  color: var(--main-text);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #eee;
}

.site-nav {
  margin-left: 94px;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item {
  position: relative;
}

.site-nav-item::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item:hover::after,
.site-nav-item:focus::after {
  transform: scaleX(1);
}

.logo {
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-head {
  color: #000;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active {
  color: var(--accent);
}

.link.active::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}

.link:hover,
.link:focus {
  color: var(--accent);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-address {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.header-address-item + .header-address-item {
  margin-left: 50px;
}

.header-address-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  align-items: center;
  gap: 10px;
  fill: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent);
  fill: var(--accent);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.hero {
  background-color: var(--hero-background-color);
  color: var(--hero-text);

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}

.hero-button {
  color: var(--hero-text);
  background-color: var(--accent);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 216px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  margin-top: 30px;
}

.advantage-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.advantage-item {
  width: calc((100% - 90px) / 4);
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-background);
}

/* .advantage-item::before {
  display: block;
  content: "";
  height: 70px;
} */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.projects-list {
  display: flex;
}

.projects-item + .projects-item {
  margin-left: 30px;
}

.projects {
  padding-top: 0;
}

.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.thumb {
  position: relative;
}

.projects-thumb {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.projects-thumb-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #fff;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: var(--team-background);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  fill: var(--icon-colour);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: #ffffff;
  background: var(--accent);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-colour);
  border-radius: 4px;
  fill: var(--icon-colour);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-logo {
  color: var(--hero-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-top: 20px;
}

.footer-address-office {
  color: var(--hero-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-contacts {
  color: var(--footer-address-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-office:hover,
.footer-address-office:focus {
  color: var(--accent);
}

.footer-address-contacts:hover,
.footer-address-contacts:focus {
  color: var(--accent);
}

.footer-social-title {
  color: var(--hero-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primary-bgheader-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent);
}

.footer-modal-form {
  margin: 0 auto;
}

.footer-modal-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.email-form {
  background-color: var(--background-main);
}
.footer-form input {
  max-width: 358px;
  padding: 15px 295px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--hero-text);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-icon {
  fill: var(--hero-text);
}

.main .portfolio {
  background-color: var(--hero-text);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  background-color: var(--team-background);
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  /* opacity: 0; */
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
  /* opacity: 1; */
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent);
  color: var(--hero-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text);
}

.portfolio-text-container {
  padding: 20px 24px;
  border: 1px solid #eee;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-top: 4px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: visibility 250ms, opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: #fff;
  border-radius: 4px;

  padding: 40px 40px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.register-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  display: block;
  text-align: center;

  margin-bottom: 12px;
}

.register-form-field {
  position: relative;
  display: block;
}

.register-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.register-form-label {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  color: var(--secondary-text-color);
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.register-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  padding-right: 42px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus {
  border-color: var(--accent);
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus + .register-form-icon {
  fill: var(--accent);
}

.register-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;

  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-message:focus {
  border-color: var(--accent);
}

.register-form-heading {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 10px;
}

.icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.register-form-link {
  color: rgba(33, 150, 243, 1);
}

.register-form-button {
  display: block;
  margin: 0 auto;

  color: var(--hero-text);
  background-color: var(--accent);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.button {
  display: block;
  margin: 0 auto;

  color: var(--hero-text);
  background-color: var(--accent);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  margin-top: 30px;
}
